/* ===
   ToC 
   === */

/* ======
   GLOBAL 
   ====== */

* {
  text-align: center;
}

/* ==========
   TYPOGRAPHY 
   ========== */

* {
  font-family: "Courier New", Courier, monospace;
}

/* =======
   COLOURS
   ======= */

/* =========
   ALIGNMENT 
   ========= */

main {
  display: grid;
  justify-items: center;
}

.creepin {
  margin: 1rem;
  margin-bottom: 3rem;
}

/* =====
   STYLE 
   ===== */
