@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  src: url('/fonts/DMMono-Regular.woff2') format('woff2');
  src: url('/fonts/DMMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  src: url('/fonts/DMMono-Italic.woff2') format('woff2');
  src: url('/fonts/DMMono-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  src: url('/fonts/DMSans-Regular.woff2') format('woff2');
  src: url('/fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  src: url('/fonts/DMSans-Italic.woff2') format('woff2');
  src: url('/fonts/DMSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/DMSans-Bold.woff2') format('woff2');
  src: url('/fonts/DMSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  src: url('/fonts/DMSerifDisplay-Regular.woff2') format('woff2');
  src: url('/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Serif Display';
  font-style: italic;
  src: url('/fonts/DMSerifDisplay-Italic.woff2') format('woff2');
  src: url('/fonts/DMSerifDisplay-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Emoji Regular';
  font-style: normal;
  src: url('/fonts/NotoEmoji-Regular.woff2') format('woff2');
  src: url('/fonts/NotoEmoji-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Emoji Bold';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/NotoEmoji-Bold.woff2') format('woff2');
  src: url('/fonts/NotoEmoji-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Emoji Light';
  font-style: italic;
  font-weight: light;
  src: url('/fonts/NotoEmoji-Light.woff2') format('woff2');
  src: url('/fonts/NotoEmoji-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Dindles';
  src: url('/fonts/BethEllen-Regular.ttf') format('truetype');
}

:root {
  /* Colour Palette */
  --colour-surface: #f5f6df;
  --colour-primary: #5a8f78;
  --colour-secondary: #3a5068;
  --colour-text: #372a51;

  /* Typography - Font Families */
  --font-primary: 'DM Sans', sans-serif;
  --font-mono: 'DM Mono', monospace;
  --font-emoji: 'Noto Emoji Regular', 'Noto Emoji', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  color: var(--colour-text);
  background-color: var(--colour-surface);
}
